/* Globals */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  border-bottom: 1px solid #c9c9c9;
  width: 100%;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto;
  min-height: 4rem;
  width: 95%;
} */

nav > h1 {
  font-size: 2.5rem;
}

footer {
  border-top: 1px solid #c9c9c9;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  display: flex;
  background-color: #f2f2f2;
  flex: 1;
  gap: 1rem;
  padding: 1rem 2.5%;
}

button {
  background-color: white;
  border: 2px solid #b83725;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 0rem;
  width: 7rem;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

input[type="radio"] {
  appearance: none;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  height: 0.9rem;
  width: 0.9rem;
  outline: 2px solid #b83725;
  transition: background-color 0.25s ease-in-out;
}

input[type="radio"]:checked {
  background-color: #b83725;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border: 2px solid #b83725;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

img {
  pointer-events: none;
  user-select: none;
}

h1 {
  font-family: "Fredoka One", cursive;
  color: #b83725;
}

/* Helper classes */

.nav-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto;
  min-height: 4rem;
  width: 95%;
}

/* Home */

.home {
  justify-content: center;
  gap: 3rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.logo > h1 {
  font-size: 6vw;
  transform: translateX(-37%);
}

.splash {
  display: flex;
  justify-content: center;
  gap: 1%;
  width: 100%;
}

.splash > img {
  max-width: 25%;
}

.splash > h1 {
  font-size: 8vw;
  align-self: flex-start;
}

.frie-anim-wrapper {
  align-self: flex-end;
  max-width: 10%;
  position: relative;
}

.frie-sauce {
  width: 100%;
}

.frie-bbq {
  position: absolute;
  left: 25%;
  transform: translateY(-100%);
  width: 75%;
}

.frie-anim {
  animation: frie-dip 2s infinite ease-in-out alternate;
  z-index: -1;
}

#begin-order {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.input-order {
  display: flex;
}

.input-order > button {
  background-color: #b83725;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  width: 3rem;
}

.decrease-order {
  border-radius: 5px 0px 0px 5px;
}

.increase-order {
  border-radius: 0px 5px 5px 0px;
}

.decrease-order > img,
.increase-order > img {
  width: 1rem;
}

#nr-of-orders {
  background-color: white;
  border: 2px solid #b83725;
  text-align: center;
}

#nr-of-orders:focus {
  outline: none;
}

/* Order page */

.order-count {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.order-count > h2 {
  font-size: 1.2rem;
  white-space: nowrap;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
}

.order-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 2px solid #b83725;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.order-preview-container::after {
  content: "Preview";
  font-family: "Fredoka One", cursive;
  font-size: 1.5rem;
  color: white;
  background: #b83725;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  padding: 5px 20px;
}

/* .order-details {
  margin: 0rem auto;
  width: 95%;
} */

/* Page transition */

.page-anim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

.page-anim img {
  width: 35%;
}

.page-anim span {
  font-family: "Fredoka One", cursive;
  font-size: 8vw;
  color: #b83725;
}

.page-anim.layer-a {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 250;
}

.page-anim.layer-b {
  background-color: #b83725;
  z-index: 225;
}

.page-anim.layer-c {
  background-color: #fbd544;
  z-index: 200;
}

/* Animations */

@keyframes frie-dip {
  from {
    transform: translateY(-100%) rotate(0deg);
  }
  to {
    transform: translateY(-55%) rotate(-15deg);
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .logo > h1 {
    font-size: 9vw;
    transform: translateX(-30%);
  }

  .splash > h1 {
    font-size: 11vw;
  }

  .splash > img {
    max-width: 35%;
  }

  .frie-anim-wrapper {
    max-width: 15%;
  }
}
